In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from scipy import stats

In [3]:
estimated = pd.read_csv("SD03Q016/estimated_numbers.csv")
incidence = pd.read_csv("SD03Q016/incidence_per_1000_pop_at_risk.csv")
reported = pd.read_csv("SD03Q016/reported_numbers.csv")

In [5]:
reported.head(10)

       Country  Year  No. of cases  No. of deaths             WHO Region
0  Afghanistan  2017      161778.0           10.0  Eastern Mediterranean
1      Algeria  2017           0.0            0.0                 Africa
2       Angola  2017     3874892.0        13967.0                 Africa
3    Argentina  2017           0.0            1.0               Americas
4      Armenia  2017           0.0            NaN                 Europe
5   Azerbaijan  2017           0.0            NaN                 Europe
6   Bangladesh  2017        4893.0           13.0        South-East Asia
7       Belize  2017           7.0            0.0               Americas
8        Benin  2017     1573163.0         2182.0                 Africa
9       Bhutan  2017          24.0            1.0        South-East Asia

In [7]:
estimated.head(10)

,Country,Year,No. of cases,No. of deaths,No. of cases_median,No. of cases_min,No. of cases_max,No. of deaths_median,No. of deaths_min,No. of deaths_max,WHO Region
0,Afghanistan,2017,630308[495000-801000],298[110-510],630308,495000.0,801000.0,298,110.0,510.0,Eastern Mediterranean
1,Algeria,2017,0,0,0,NaN,NaN,0,NaN,NaN,Africa
2,Angola,2017,4615605[3106000-6661000],13316[9970-16600],4615605,3106000.0,6661000.0,13316,9970.0,16600.0,Africa
3,Argentina,2017,0,0,0,NaN,NaN,0,NaN,NaN,Americas
4,Armenia,2017,0,0,0,NaN,NaN,0,NaN,NaN,Europe
5,Azerbaijan,2017,0,0,0,NaN,NaN,0,NaN,NaN,Europe
6,Bangladesh,2017,32924[30000-36000],76[3-130],32924,30000.0,36000.0,76,3.0,130.0,South-East Asia
7,Belize,2017,7,0,7,NaN,NaN,0,NaN,NaN,Americas
8,Benin,2017,4111699[2774000-6552000],7328[5740-8920],4111699,2774000.0,6552000.0,7328,5740.0,8920.0,Africa
9,Bhutan,2017,11,0,11,NaN,NaN,0,NaN,NaN,South-East Asia

In [8]:
incidence.head(10)

       Country  Year  No. of cases             WHO Region
0  Afghanistan  2018         29.01  Eastern Mediterranean
1      Algeria  2018          0.00                 Africa
2       Angola  2018        228.91                 Africa
3    Argentina  2018          0.00               Americas
4      Armenia  2018          0.00                 Europe
5   Azerbaijan  2018          0.00                 Europe
6   Bangladesh  2018          0.69        South-East Asia
7       Belize  2018          0.01               Americas
8        Benin  2018        386.18                 Africa
9       Bhutan  2018          0.01        South-East Asia